<div class="row table-responsive content-div p-2 my-5 rounded-2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="Movie-id">#</th>
                <th scope="col" class="name">Movie Name</th>
                <th scope="col">Release Year</th>
                <th scope="col">BoxOffice Collection</th>
                <th scope="col">IMDB Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>The Shawshank Redemption</td>
                <td>1994</td>
                <td>$73 Million</td>
                <td>9.3</td>
            </tr>
        </tbody>
    </table>
</div>